extends layout.pug
block content
    h1#title Login
        #register
            form(name="login-form" method="POST" action="/login")
                input(name='email' type='text' placeholder='Email')
                input(name='password' type='password' placeholder='Password')
                input(type='submit' value='Register')