extends layout
block content
    h1#title Top 25
    table#rankings
        thead.thead-dark
            tr
                th.rankings(scope='col') Rank
                th.rankings(scope='col') School
                th.rankings(scope='col') Conference
            each n in teams
                tr.bg-light
                    td.rankings= n.rank
                    td.rankings= n.school
                    td.rankings= n.conference


